$light-gray: #f7f7f9;

$primary-color-dark:   #D32F2F;
$primary-color:        #F44336;
$primary-color-light:  #ff7300;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


$color-1: #1b4f72;
$color-2: #212f3d;
$color-3: #a3e4d7;
$color-4: #ebf5fb;
$color-5: #DAF7A6;
$color-6: #FFC300;
