@import "colors";

.home{
  padding: 0px 10px;
}
.btnc_cart{
padding-top: 5px;
font-size: 22px;
}
.text-title{
  font-size: 18px;
  margin-top: 3px;
}
.btn_x{
  width: 95%;
  margin-left: 3px;
  border: 1px solid $color-2;

}
.text-price{
  color:$primary-color ;
}
