/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "colors";
 .navbar-brand{
     color: $color-4;
 }
 @import "bootstrap";
 @import "font-awesome";
 @import "mane";
 @import "base";
 @import "util";
 @import "home";



body{
  background-color: #f1f1f1;
}

.navbar_c{
background-color:  $color-2;
color: $color-4;
}

.text_nav{
  color: $color-4;
}

.text_nav {
    color: #ebf5fb;
}
.navbar-toggler{
  background-color: rgba(#3d5a6c, 0.59);
}
.navbar-brand{
  color:  $color-6;

}
.footerx{
  padding-top: 80px;
  height: 200px;
}
.footer{
  color:#f7f7f9;
  background-color:  $color-2;
  width: 100%;

}
.footerx h2{
  color:  $color-6;
}

.footer-branding{
  background-color:  #000;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  color: #fff;

}
.pro-text {
  font-size: 12px;
}


.pag_x{
  margin-left: 60px;
  margin-top: 25px;


}
.pag_m{
height: 100px;

}
.img_s{
  height: 280px;
}

.btnc_cart{
    width: 400px;
}
