/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 /*
 *= require font-awesome
 */


 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "colors";
 @import "font-awesome";
 @import "bootstrap";
 @import "mane";
 @import "base";
 @import "home";
 @import "util";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway&display=swap');

body{
  background-color: #f1f1f1;
}
.text_nav_new{
  color:  $color-6;
}
.bg-blue{
  background-color: $color-2;
}

.navbar-brand-s{
  color:  $color-6;
 text-decoration-style: none;
 font-weight: bold;
 font-size: 18px;
}
.footerx{
  padding-top: 80px;
  height: 200px;
}
.footer{
  color:#f7f7f9;
  background-color:  $color-2;
  width: 100%;

}
.footerx h2{
  color:  $color-6;
}

.btn_x{
  padding: 5px 0px;
  border: 1px solid $color-2;
  margin-left: 10px;
  width: 90%;
}
.pro-text {
  font-size: 12px;
}


.pag_x{
  margin-left: 60px;
  margin-top: 25px;


}
.pag_m{
height: 100px;

}
.img_s{
  height: 310px;
}

.btnc_cart{
  padding: 10px 0px;
    width: 300px;
    margin-left: 10px;
    border: 1px solid  $color-6;
    font-size: 26px;

}
