@import "colors";


body {
  background-color: #f7f7f9;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Lobster Two';


}
.slide-d{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  color: $primary-text-color;
}

h1, .card-title {
  font-weight: bold;
}

h6 {
  color: #757575;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, p span {
  font-family: 'Merriweather', serif !important;
  font-size: 20px;
}
