<!-- Footer -->
<footer class="footer page-footer font-small blue primary">

  <div class="footerx text-center">
    <h2>  ©  Copyright: Nawas
    <%= Date.today.year %>
    .</h2> 

   </div>

</footer>
