<!-- Footer -->
<footer class="footer page-footer font-small blue primary">

  <div class="footerx text-center">
    <h2>  Nawas book store </h2>
   </div>
<div class="footer footer-branding">
  <h6>  ©  Copyright: Nawas
  <%= Date.today.year %>
  .</h6>
</div>
</footer>
