<!-- Footer -->
<footer class="footer page-footer font-small blue primary">

  <div class="footerx text-center">
    <h2>  ©  Copyright: Nawas
    <%= Date.today.year %>
    .</h2>

<%= fa_stacked_icon "twitter", base: "square-o" %>
<%= fa_stacked_icon "dollar inverse", base: "circle", class: "fa-2x" %>
<%= fa_stacked_icon "terminal inverse", base: "square", class: "pull-right", text: "Hi!"
%>
   </div>

</footer>
