<nav class="navbar  navbar-inverse">
  <div class="container-fluid">
    <!-- FOOTER START================== -->
    <footer class="footer">
      <div class="container">


        <hr class="style15">

        <div class="row">
          <div class="col-sm-12">
            <h4 class="title">My Account</h4>
            <span class="acount-icon">
               <i class="fa fa-heart" aria-hidden="true"></i>
              Orders
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Cart
           <i class="fa fa-user" aria-hidden="true"></i>
          Profile
         <i class="fa fa-users" aria-hidden="true"></i>
        Users

<div class="row text-center">
  ©
  <%= Date.today.year %>
  .
  <a href="http://www.google.com" target="_blank">nawas
  </a>
</div>
</div>

</footer>

</div>
</div>

</div>
